
<ion-content [fullscreen]="true">
  <ion-grid class="ion-text-center">
    <ion-row>
      <ion-col size="12">
        <img src="../../assets/pics/brain-logo.png" width="70%"/>
        <ion-title>LOGIC QUESTIONS</ion-title>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-button 
          color="medium" 
          size="large"
          (click)="start()">new game</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-button 
          color="medium" 
          size="large"
          (click)="continue()">continue</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-button 
          color="medium" 
          size="large"
          (click)="contribute()">contribute</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
